GEOAPIFY_API_KEY=
APPWRITE_DATABASE_ID=dbmonumento
APPWRITE_USER_ID=users
APPWRITE_POSTS_ID=posts
APPWRITE_MONUMENTS_ID=monuments
APPWRITE_COMMENTS_ID=comments
APPWRITE_LIKES_ID=postLikes
APPWRITE_CHECKIN_ID=checkIns
APPWRITE_LOCALEXPERTS_COLLECTION_ID=localExperts
APPWRITE_API_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_IMAGES_BUCKET_ID=imagesBucket
APPWRITE_MODELS_BUCKET_ID=modelsBucket
APPWRITE_PROJECT_ID=
APPWRITE_PASSWORD_FUNCTION_URL=