SERVER_CLIENT_ID=
GOOGLE_SIGNIN_APPLE_CLIENT_ID=
GOOGLE_SIGNIN_WEB_CLIENT_ID=
GEOAPIFY_API_KEY=
APPWRITE_API_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_DATABSE_ID=dbmonumento
APPWRITE_USER_COLLECTION_ID=users
APPWRITE_MONUMENTS_COLLECTION_ID=monuments
APPWRITE_POSTS_COLLECTION_ID=posts
APPWRITE_LOCALEXPERTS_COLLECTION_ID=localExperts
