SERVER_CLIENT_ID=
GOOGLE_SIGNIN_APPLE_CLIENT_ID=
GOOGLE_SIGNIN_WEB_CLIENT_ID=
GEOAPIFY_API_KEY=
APPWRITE_API_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_BUCKET_ID=bucketmonumento
APPWRITE_PROJECT_ID=
